{% load i18n %}
<script type="text/javascript">
    var sessionSecurity = new window.parent.yourlabs.SessionSecurity({
        relogin: "{{relogin}}",
        postUrl: window.frameElement.getAttribute("data-post-url"),
        pingUrl: '{% url 'session_security_ping' %}',
        warnAfter: "{{warn_after}}",
        expireAfter: "{{expire_after}}",
        confirmFormDiscard: "{% trans 'You have unsaved changes in a form on this page.' %}"
    });
    try {
        window.parent.document.getElementsByName("csrfmiddlewaretoken")[0].value = "{{token}}";
    } catch (ex) {
        console.log('Exception trying to rotate token: ' + ex);
    }
    window.parent.document.getElementById('session_security_relogin').style.display = 'none';
    window.parent.document.getElementById('session_security_relogin').innerHTML = ""; 
</script>
