{% load i18n %}
<script type="text/javascript">
    var sessionSecurity = new window.parent.yourlabs.SessionSecurity({
        relogin: window.parent.document.getElementById('relogin').value,
        postUrl: window.parent.document.getElementById('post_url').value,
        pingUrl: '{% url 'session_security_ping' %}',
        warnAfter: window.parent.document.getElementById('warn_after').value,
        expireAfter: window.parent.document.getElementById('expire_after').value,
        confirmFormDiscard: "{% trans 'You have unsaved changes in a form on this page.' %}"
    });
    try {
        window.parent.document.getElementsByName("csrfmiddlewaretoken")[0].value = "{{token}}";
    } catch (ex) {
        console.log('Exception trying to rotate token: ' + ex);
    }
    window.parent.document.getElementById('session_security_relogin').style.display = 'none';
</script>
