{% load session_security_tags %}
{% load static from staticfiles %}

{# If the user is not authenticated then there is no session to secure ! #}
{% if request.user.is_authenticated %}

    {# The modal dialogs stylesheet, it's pretty light so it should be easy to hack #}
    <link rel="stylesheet" type="text/css" href="{% static 'session_security/style.css' %}">

    {# Include the template that contains the warning modal dialog #}
    {% include 'session_security/dialog.html' %}

    {# Include the template that contains the relogin modal dialog #}
    {% include 'session_security/relogin.html' %}
 
    {# Load SessionSecurity javascript 'class', jquery should be loaded - by you - at this point #}
    <script type="text/javascript" src="{% static 'session_security/script.js' %}"></script>

{% endif %}
