{% load session_security_tags %}
{% load static from staticfiles %}
{% load i18n l10n %}

{# If the user is not authenticated then there is no session to secure ! #}
{% if request.user.is_authenticated %}

    {# The modal dialogs stylesheet #}
    <link rel="stylesheet" type="text/css" href="{% static 'session_security/style.css' %}">

    {# Include the template that contains the warning modal dialog #}
    {% include 'session_security/dialog.html' %}

    {# Include the template that contains the relogin modal dialog #}
    {% include 'session_security/relogin.html' with login_post_url=login_post_url %}
 
    {# Load SessionSecurity javascript 'class', jquery should be loaded - by you - at this point #}
    <script type="text/javascript" src="{% static 'session_security/script.js' %}"></script>

    {# Bootstrap a SessionSecurity instance as the sessionSecurity global variable #}
    {% localize off %}
        <script type="text/javascript">
            var sessionSecurity = new yourlabs.SessionSecurity({
                relogin: {% if dont_relogin %}false{% else %}"{{ request|relogin|unlocalize }}"{% endif %},
                postUrl: "{{ login_post_url }}",
                {% if dont_redirect %}returnToUrl: undefined,{% endif %}
                pingUrl: '{% url 'session_security_ping' %}',
                warnAfter: {{ request|warn_after|unlocalize }},
                expireAfter: {{ request|expire_after|unlocalize }},
                confirmFormDiscard: "{% trans 'You have unsaved changes in a form of this page.' %}"
            });
        </script>
    {% endlocalize %}  
    
{% endif %}
